@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap%22");

@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 970px) {
  body {
    #Titulito h1 {
      top: 10px;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }

    #registerButton {
      height: 30px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 680px) {
  body {
    #contactButtonsImages {
      flex-direction: column;
    }

    #h1Contacto {
      bottom: 0px;
    }
  }
}

@media screen and (max-width: 570px) {
  body {
    #navImage {
      width: 20px;
      height: 20px;
      padding-left: 3px;
      padding-top: 3px;
    }
    #Titulito h1 {
      margin-top: 10px;
      font-size: 50px;
    }

    #artistasDiv {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 330px) {
  body {
    #Titulito h1 {
      font-size: 35px;
    }
  }
}

#artistasDiv {
  display: flex;
}

.card {
  display: flex;
  position: relative;
  transform: translateZ(0px);
  z-index: 0;
  background-color: #22181c;
  color: white;
  flex-direction: column;
  border: 2px transparent;
  border-image: linear-gradient(45deg, #00ff00, #33ff33);
  border-image-slice: 1;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00;
}

.list-group-item {
  background-color: #22181c;
  color: white;
  font-weight: 500;
}

.card-link-spoti {
  position: relative;
  width: fit-content;
  margin: 0px;
  right: 60px;
}

#card-link-yt {
  position: relative;
  width: fit-content;
  margin: 0px;
  left: 60px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}

#downCardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50px;
}

.newLoguitos {
  width: 30px;
  height: 30px;
  margin: 0px;
}

#newLoguitoYT {
  width: 38px;
  height: 38px;
  left: 50px;
}

#newLoguitoSpoti {
  margin-right: 0px;
  right: 50px;
}

.ogH1 {
  font-size: 45px;
  margin-bottom: 40px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li {
  text-align: left;
  text-decoration: solid;
  font-size: large;
  font-weight: bold;
}

body {
  background-color: black;

  font-family: "Work Sans", sans-serif;
}
#Ysy {
  text-align: center;
  margin-bottom: 2px;
  text-decoration: underline;
}

#Duki {
  text-align: center;
  text-decoration: underline;
}

ol {
  margin-top: 0;
  list-style: none;
}

.ogH2 {
  position: relative;
  color: #003600;
  text-align: center;
  margin: 15px;
  z-index: -1;
  font-family: "Metal Mania", cursive;
  font-size: 40px;
}

#Titulito {
  width: 100%;
  height: 200px;
  top: 0%;
  margin-top: 0px;
  background: linear-gradient(to bottom, #003600, transparent 90%, #000000);
  display: grid;
  align-items: center;
  transform: translateZ(0px);
  z-index: 1;
}

#Titulito h1 {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -60px;
  font-family: "Metal Mania", cursive;
  text-decoration: none;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

#opciones {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
}

header {
  position: absolute;
  right: 0px;
  top: 0px;
  justify-content: right;
  text-align: right;
  font-size: 15px;
  text-decoration: solid;
  font-weight: bold;
  width: fit-content;
}

#girasArtistas {
  color: #00ff00;
  letter-spacing: 1px;
  font-weight: 600;
  background: linear-gradient(to right, #00ff00, black 30%, black 70%, #00ff00);
  text-align: center;
  border: 5px solid black;
}

#albumPropio {
  margin-top: 30px;
  font-size: 30px;
  color: white;
  font-family: "Metal Mania", cursive;
  text-decoration: none;
}
#opciones .Boton {
  margin: 5px auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c8c8c8;
  border: 2px solid #6d6d6d;
  width: 50px;
  height: 50px;
}

#registerText {
  color: black;
}

#divRegister {
  margin: 0 auto;
  width: 400px;
  height: 250px;
  background-color: #b4b4b4;
  border: #6d6d6d solid 5px;
  border-radius: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  position: absolute;
  right: 40%;
  top: 40%;
  transform: translateY(-50%);
}

.signUpData {
  margin: 5px 10px;
}

#signUpName {
  margin: 5px 10px;
  margin-top: 10px;
}

#submitSignUpData {
  padding: 1px;
}

#albumRegister {
  margin: auto;
  width: 300px;
  height: 200px;
  background-color: #b4b4b4;
  border: #6d6d6d solid 5px;
  border-radius: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#descripcion {
  height: 50px;
}

#titulitoPlaceHolder {
  width: 100%;
  height: 150px;
  top: 100%;
  margin-top: 0px;
  display: grid;
  align-items: center;
}

#contacto {
  display: flex;
  height: 400px;
  background: linear-gradient(to top, #003600, transparent 70%, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#h1Contacto {
  position: relative;
  color: white;
  font-family: "Metal Mania", cursive;
  bottom: 100px;
  font-size: 60px;
  text-decoration: none;
}

#contactButtonsImages {
  display: flex;
  flex-direction: row;
}

.contactIcons {
  position: relative;
  height: 100px;
  width: 100px;
}

.ogButtons {
  margin: 5px;
}

#linea {
  width: 1000px;
  height: 3px;
  background-color: green;
}

#discordIcon {
  background-color: #3c3c3c;
  position: relative;
  padding: 5px 15px;
  width: 155.88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgba(88, 101, 242, 1);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

#discordIcon span {
  margin: 10px;
  margin-left: 25px;
}

#discordIcon::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}

#discordIcon:hover {
  color: black;
  background-color: rgba(88, 101, 242, 1);
  border: 2px solid rgba(88, 101, 242, 1);
}

#discordIcon:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em rgba(88, 101, 242, 1);
  box-shadow: inset 0 0 0 10em rgba(88, 101, 242, 1);
}

#instagramIcon {
  background-color: #3c3c3c;
  position: relative;
  /* padding: 5px 15px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  width: 155.8px;
  height: 59.5px;
}
#instagramIcon svg {
  position: relative;
  left: 10px;
  margin-right: 10px;
}

#instagramIcon span {
  margin: 10px;
}

#instagramIcon::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}

#instagramIcon:hover {
  color: black;
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

#instagramIcon:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

#githubIcon {
  background-color: #3c3c3c;
  position: relative;
  padding: 5px 15px;
  width: 155.88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #a73dcb;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

#githubIcon span {
  margin: 10px;
  margin-left: 20px;
}

#githubIcon::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}

#githubIcon:hover {
  color: black;
  background-color: #a73dcb;
  border: 2px solid #a73dcb;
}

#githubIcon:hover svg {
  fill: black;
  transition: fill 0.3s 0.1s ease;
}

#githubIcon:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #a73dcb;
  box-shadow: inset 0 0 0 10em #a73dcb;
}

#whatsappIcon {
  background-color: #3c3c3c;
  position: relative;
  padding: 5px 15px;
  height: 59.5px;
  width: 155.88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #39da56;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

#whatsappIcon span {
  margin: 10px;
  margin-left: 15px;
}

#whatsappIcon::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}

#whatsappIcon:hover {
  color: black;
  background-color: #28672e;
  border: 2px solid #39da56;
}

#whatsappIcon:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #28672e;
  box-shadow: inset 0 0 0 10em #28672e;
}

#whatsappImage {
  width: 22px;
  height: 22px;
}

path {
  width: 22px;
  height: 22px;
}

svg {
  width: 22px;
  height: 22px;
}

#whatsappIcon:hover svg {
  fill: black;
  transition: fill 0.3s 0.1s ease;
}

a {
  text-decoration: none;
}

#navImage {
  width: 50px;
  height: 50px;
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}

#nav {
  width: 40px;
}

#registerButton {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  outline: none;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  margin: 30px;
  border: 1px;
  border-image: linear-gradient(45deg, #ff0000, #ff3333);
  border-image-slice: 1;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000,
    0 0 20px #ff0000;
  text-align: center;
  text-decoration: solid;
  z-index: 1;
}
#registerButton:hover {
  background-color: #00ff00;
  border: 2px;
  border-image: linear-gradient(45deg, #00ff00, #33ff33);
  border-image-slice: 1;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00,
    0 0 20px #00ff00;
}

#registerButton .text {
  position: relative;
  z-index: 2;
}

#circleConteinerRegister {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#circleRegister {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: black;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

#registerButton:hover #circleRegister {
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

#registerButton:focus {
  box-shadow: 0 0 0 2px black;
  outline: none;
}

#registerButton.animated #circleRegister {
  animation: pulse 0.3s infinite;
}
#addAlbumButton {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  outline: none;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 1);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
  margin: 30px;
  border: 2px;
  border-image: linear-gradient(45deg, #ff0000, #ff3333);
  border-image-slice: 1;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000,
    0 0 40px #ff0000;
  text-align: center;
  text-decoration: solid;
  z-index: 1;
}

#addAlbumButton:hover {
  background-color: #00ff00;
  border: 2px;
  border-image: linear-gradient(45deg, #00ff00, #33ff33);
  border-image-slice: 1;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00,
    0 0 40px #00ff00;
}

#addAlbumButton .text {
  position: relative;
  z-index: 2;
}

#circleConteinerRegister {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#registerContainer {
  display: flex;
}

#circleRegister {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: black;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

#addAlbumButton:hover #circleRegister {
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

#addAlbumButton:focus {
  box-shadow: 0 0 0 2px black;
  outline: none;
}

#addAlbumButton.animated #circleRegister {
  animation: pulse 0.3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 215, 121, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(250, 215, 121, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(250, 215, 121, 0);
  }
}
