@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap%22");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;

  font-family: "Work Sans", sans-serif;
}

#divRegister {
  margin: 10vh auto 35vh auto;
  width: 350px;
  height: 350px;
  background-color: #b4b4b4;
  border: #6d6d6d solid 5px;
  border-radius: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  font-size: 15px;
}

#divRegister h1 {
  margin-bottom: 40px;
  font-weight: bold;
  text-decoration: underline black;
  padding-bottom: 10px;
}

#divRegister input {
  font-weight: bold;
}

#formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form .submit {
  padding: 1rem 0.75rem;
  width: 100px;
  display: block;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}

form .submit:hover {
  background-color: orange;
  color: black;
  color: black;
}

.span {
  text-decoration: none;
  color: black;
  margin: 5px 20px;
}

.span a {
  color: var(--clr);
}
